# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

task1/repo
task1/backup
task1/*.tar.gz
task1/*.cpp

task-cmake/A/index.h
task-cmake/C/main
task-cmake/build.sh
build/
bin/
lib/
googletest-1.14.0/
.vscode/
